@import '../styles/colors';

// Full width bands
#professional_service,
#satisfied_customers{
    height: 450px;
    background: url('../images/about_full_width1.jpg') right;
    background-size: cover;

    .title {
        color: $mainOrange;
        font-size: 52px;
        font-weight: 900;
        margin-top: 100px;
    }

    .description {
        color: #495662;
        font-size: 16px;
        width: 50%;
    }
}

#satisfied_customers {
    background: url('../images/about_full_width2.jpg') left;
    margin-top: 125px;
}

// Articles
#what_we_do {
    .title {
        color: #ff5912;
        font-size: 36px;
        font-weight: 900;
        margin: 120px 0 26px;
        text-align: center;
    }

    .sub_title {
        color: #495662;
        font-size: 16px;
        text-align: center;
    }

    .articles {
        margin-top: 77px;

        .article {
            background: #fff;
            height: 365px;
            padding: 46px 30px 0;

            .image {
                height: 158px;
                text-align: center;

                img {
                    margin: auto;
                    position: relative;
                    top: 50%;
                    transform: translatey(-50%);
                }
            }

            .article_title {
                color: #34404b;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }

            .description {
                color: #495662;
                font-size: 16px;
                margin-top: 17px;
                text-align: center;
            }
        }
    }

    .get_started {
        display: block;
        margin: 85px auto 0;
    }
}

