@import '../styles/colors';

// Articles
#articles {
    margin-top: 118px;

    .article {
        margin-bottom: 28px;

        .article-content,
        .article-image {
            height: 475px;
        }

        .article-content {
            background: #fff;
            padding-top:65px;
            text-align: center;

            .title {
                color: $mainOrange;
                font-size: 36px;
                font-weight: 900;
            }

            .sub_title {
                color: #495662;
                display: inline-block;
                font-size: 16px;
                margin-top: 28px;
            }

            .read_more {
                margin-top: 57px;

                .read_more-btn {
                    clear: both;
                    display: inline-block;
                    margin: 85px auto 0;
                }
            }
        }

        .article-image {
            background-position: center;
            background-size: cover;

            &.blog1 {
                background-image: url('../images/blog_img-1.jpg');
            }

            &.blog2 {
                background-image: url('../images/blog_img-2.jpg');
            }

            &.blog3 {
                background-image: url('../images/blog_img-3.jpg');
            }
        }
        
        
    }
}

// Pagination
#pagination {
    background: #fff;
    color: #495662;
    font-size: 16px;
    height: 60px;
    padding: 19px 0;
    position: relative;
    text-align: center;

    .previous,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);

        &:hover {
            color: $mainOrange;
        }
    }

    .previous::before,
    .next::after {
        background: url('../images/pagination_arrow.png');
        content: '';
        display: inline-block;
        height: 13px;
        position: relative;
        top: 1px;
        width: 7px;
    }

    .previous::before {
        margin-right: 13px;
        transform: rotate(180deg);
    }

    .next::after {
        margin-left: 13px;
    }

    .previous {
        left: 31px;

        &:hover {
            &::before {
                background-position: 0 -13px;
            }
        }
    }

    .next {
        right: 31px;

        &:hover {
            &::after {
                background-position: 0 -13px;
            }
        }
    }

    .pagination_numbers {
        span {
            &::before,
            &::after {
                content: '\00a0';
            }

            &:not([class='three_dots']):not([class='numbers']):hover {
                cursor: pointer;
                color: $mainOrange;
            }
        }
    }
}