@import '../styles/colors';

// Head content
#head_content {
    margin-top: 115px;

    .title {
        color: $mainOrange;
        font-size: 36px;
        font-weight: 900;
        margin: 0 0 47px;
        text-align: center;
    }

    .image {
        width: 100%;
    }

    .description {
        color: #495662;
        font-size: 16px;
        margin-top: 32px;
    }

    .categories {
        margin-top: 44px;

        .categories_title {
            color: #495662;
            font-size: 16px;
        }

        .categories_title,
        .category {
            display: inline-block;
        }

        .category {
            background: #495662;
            color: #fff;
            height: 30px;
            margin-left: 10px;
            padding: 5px 18px;
        }
    }
}

// Comments area

#comments_area {
    background: #fff;
    margin-top: 58px;
    padding: 42px;

    .comment_count {
        color: #495662;
        display: inline-block;
        font-size: 24px;
        font-weight: 900;
        padding-top: 7px;
        margin-right: 18px;
    }

    .social_icons {
        .social_icon {
            border: 1px solid #ededed;
            margin: 0 -2px;
            padding: 3px;
        }
    }

    .comments {
        border-left: 1px solid #ededed;
        margin-left: 22px;
        padding: 52px 0 1px 35px;
        position: relative;
        top: -5px;

        .comment {
            margin-bottom: 28px;
            position: relative;

            &::before {
                background: #ff5912;
                border-radius: 50%;
                color: #fff;
                content: attr(order-num);
                display: block;
                font-size: 16px;
                height: 33px;
                left: -52px;
                padding: 6px 0;
                position: absolute;
                text-align: center;
                top: -4px;
                width: 33px;
                z-index: 1;
            }

            &::after {
                background: #fff;
                content: '';
                display: block;
                height: 50px;
                left: -62px;
                top: -13px;
                position: absolute;
                width: 50px;
            }

            .username {
                color: #495662;
                font-size: 16px;
                font-weight: 900;
            }

            .date {
                color: #b4b4b4;
                text-transform: italic;
                padding-left: 13px;
            }

            .comment-text {
                color: #b4b4b4;
                font-size: 16px;
                padding-top: 8px;
            }
        }
    }

    .comments-form {
        .title {
            color: #495662;
            font-size: 24px;
            font-weight: 900;
        }

        .comment-textarea {
            border: 1px solid #b2b2b2;
            border-radius: 8px;
            height: 171px;
            padding: 6px;
            resize: none;
            transition: all .4s;
            width: 100%;

            &:focus {
                box-shadow: 0 0 4px 0 $mainOrange inset;
                outline: none;
            }
        }

        .submit_btn {
            margin-top: 25px;
        }
    }
}

#news_letter {
    margin-top: 62px;
}