#head_content {
  margin-top: 115px; }
  #head_content .title {
    color: #ff5912;
    font-size: 36px;
    font-weight: 900;
    margin: 0 0 47px;
    text-align: center; }
  #head_content .image {
    width: 100%; }
  #head_content .description {
    color: #495662;
    font-size: 16px;
    margin-top: 32px; }
  #head_content .categories {
    margin-top: 44px; }
    #head_content .categories .categories_title {
      color: #495662;
      font-size: 16px; }
    #head_content .categories .categories_title,
    #head_content .categories .category {
      display: inline-block; }
    #head_content .categories .category {
      background: #495662;
      color: #fff;
      height: 30px;
      margin-left: 10px;
      padding: 5px 18px; }

#comments_area {
  background: #fff;
  margin-top: 58px;
  padding: 42px; }
  #comments_area .comment_count {
    color: #495662;
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
    padding-top: 7px;
    margin-right: 18px; }
  #comments_area .social_icons .social_icon {
    border: 1px solid #ededed;
    margin: 0 -2px;
    padding: 3px; }
  #comments_area .comments {
    border-left: 1px solid #ededed;
    margin-left: 22px;
    padding: 52px 0 1px 35px;
    position: relative;
    top: -5px; }
    #comments_area .comments .comment {
      margin-bottom: 28px;
      position: relative; }
      #comments_area .comments .comment::before {
        background: #ff5912;
        border-radius: 50%;
        color: #fff;
        content: attr(order-num);
        display: block;
        font-size: 16px;
        height: 33px;
        left: -52px;
        padding: 6px 0;
        position: absolute;
        text-align: center;
        top: -4px;
        width: 33px;
        z-index: 1; }
      #comments_area .comments .comment::after {
        background: #fff;
        content: '';
        display: block;
        height: 50px;
        left: -62px;
        top: -13px;
        position: absolute;
        width: 50px; }
      #comments_area .comments .comment .username {
        color: #495662;
        font-size: 16px;
        font-weight: 900; }
      #comments_area .comments .comment .date {
        color: #b4b4b4;
        text-transform: italic;
        padding-left: 13px; }
      #comments_area .comments .comment .comment-text {
        color: #b4b4b4;
        font-size: 16px;
        padding-top: 8px; }
  #comments_area .comments-form .title {
    color: #495662;
    font-size: 24px;
    font-weight: 900; }
  #comments_area .comments-form .comment-textarea {
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    height: 171px;
    padding: 6px;
    resize: none;
    transition: all .4s;
    width: 100%; }
    #comments_area .comments-form .comment-textarea:focus {
      box-shadow: 0 0 4px 0 #ff5912 inset;
      outline: none; }
  #comments_area .comments-form .submit_btn {
    margin-top: 25px; }

#news_letter {
  margin-top: 62px; }

/*# sourceMappingURL=blog-details.css.map */
