#articles {
  margin-top: 118px; }
  #articles .article {
    margin-bottom: 28px; }
    #articles .article .article-content,
    #articles .article .article-image {
      height: 475px; }
    #articles .article .article-content {
      background: #fff;
      padding-top: 65px;
      text-align: center; }
      #articles .article .article-content .title {
        color: #ff5912;
        font-size: 36px;
        font-weight: 900; }
      #articles .article .article-content .sub_title {
        color: #495662;
        display: inline-block;
        font-size: 16px;
        margin-top: 28px; }
      #articles .article .article-content .read_more {
        margin-top: 57px; }
        #articles .article .article-content .read_more .read_more-btn {
          clear: both;
          display: inline-block;
          margin: 85px auto 0; }
    #articles .article .article-image {
      background-position: center;
      background-size: cover; }
      #articles .article .article-image.blog1 {
        background-image: url("../images/blog_img-1.jpg"); }
      #articles .article .article-image.blog2 {
        background-image: url("../images/blog_img-2.jpg"); }
      #articles .article .article-image.blog3 {
        background-image: url("../images/blog_img-3.jpg"); }

#pagination {
  background: #fff;
  color: #495662;
  font-size: 16px;
  height: 60px;
  padding: 19px 0;
  position: relative;
  text-align: center; }
  #pagination .previous,
  #pagination .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translatey(-50%); }
    #pagination .previous:hover,
    #pagination .next:hover {
      color: #ff5912; }
  #pagination .previous::before,
  #pagination .next::after {
    background: url("../images/pagination_arrow.png");
    content: '';
    display: inline-block;
    height: 13px;
    position: relative;
    top: 1px;
    width: 7px; }
  #pagination .previous::before {
    margin-right: 13px;
    transform: rotate(180deg); }
  #pagination .next::after {
    margin-left: 13px; }
  #pagination .previous {
    left: 31px; }
    #pagination .previous:hover::before {
      background-position: 0 -13px; }
  #pagination .next {
    right: 31px; }
    #pagination .next:hover::after {
      background-position: 0 -13px; }
  #pagination .pagination_numbers span::before, #pagination .pagination_numbers span::after {
    content: '\00a0'; }
  #pagination .pagination_numbers span:not([class='three_dots']):not([class='numbers']):hover {
    cursor: pointer;
    color: #ff5912; }

/*# sourceMappingURL=blog.css.map */
