#google_map {
  margin-top: 118px; }
  #google_map .map {
    height: 775px;
    pointer-events: none;
    width: 100%;
    pointer-events: none; }
    #google_map .map.clicked {
      pointer-events: auto; }

#contact_form {
  margin-top: 73px; }
  #contact_form .contact_input,
  #contact_form .contact_textarea {
    transition: all .5s; }
    #contact_form .contact_input::placeholder,
    #contact_form .contact_textarea::placeholder {
      color: #000;
      transition: all .5s; }
    #contact_form .contact_input:focus,
    #contact_form .contact_textarea:focus {
      border-color: #ff5912;
      outline: none; }
      #contact_form .contact_input:focus::placeholder,
      #contact_form .contact_textarea:focus::placeholder {
        color: #ff5912; }
  #contact_form .contact_input {
    border: 1px solid #505050;
    padding-left: 7px;
    width: 100%; }
  #contact_form .contact_textarea {
    border: 1px solid #505050;
    height: 257px;
    margin-top: 40px;
    padding-left: 7px;
    resize: none;
    width: 100%; }
  #contact_form .notice {
    font-size: 16px;
    padding-top: 10px; }
  #contact_form .contact_us-btn {
    background: #ff5912;
    border: 0;
    color: #fff;
    height: 50px;
    width: 270px; }

/*# sourceMappingURL=contact.css.map */
