@import '../styles/colors';

// Google map
#google_map {
    margin-top: 118px;

    .map {
        height: 775px;
        pointer-events: none;
        width: 100%;

        pointer-events: none;
        
        &.clicked{
            pointer-events: auto;
        }
    }
}

// Contact form
#contact_form {
    margin-top: 73px;

    .contact_input,
    .contact_textarea {
        transition: all .5s;

        &::placeholder {
            color: #000;
            transition: all .5s;
        }

        &:focus {
            border-color: $mainOrange;
            outline: none;

            &::placeholder {
                color: $mainOrange;
            }
        }
    }

    .contact_input {
        border: 1px solid #505050;
        padding-left: 7px;
        width: 100%;
    }

    .contact_textarea {
        border: 1px solid #505050;
        height: 257px;
        margin-top: 40px;
        padding-left: 7px;
        resize: none;
        width: 100%;
    }

    .notice {
        font-size: 16px;
        padding-top: 10px;
    }

    .contact_us-btn {
        background: $mainOrange;
        border: 0;
        color: #fff;
        height: 50px;
        width: 270px;
    }
}