@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-RegularItalic.otf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-SemiBd.otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-SemiBdIt.otf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-Bold.otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-Black.otf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-BlackItalic.otf");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-Light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-LightItalic.otf");
  font-weight: 300;
  font-style: italic; }

/*# sourceMappingURL=fonts.css.map */
