@import '../styles/colors';

// Featured
#featured {
    background: url('../images/featured_full_width.jpg');
    background-size: cover;
    height: 650px;

    .container {
        position: relative;
        height: 100%;
    }

    .controller {
        position: absolute;
        height: 36px;
        background: $mainOrange;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 10px;

        &::after,
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 17px;
            background: #fff;
            position: absolute;
        }

        &::after {
            top: -26px;
        }

        &::before {
            bottom: -26px;
        }
    }

    .text_content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100px;

        .title {
            color: $mainOrange;
            font-size: 52px;
            font-weight: 900;
        }

        .text1 {
            color: #3c4751;
            font-size: 18px;
        }

        .text2 {
            color: #495662;
            font-size: 16px;
            margin-bottom: 55px;
        }

        .buy_info {
            .price {
                color: #34404b;
                font-size: 18px;
                padding-right: 27px;
            }

            .order_now {
                color: $mainOrange;
                font-size: 18px;

                &:hover {
                    text-decoration: none;
                }

                &::before {
                    content: '';
                    background: url('../images/icons_sprite.png') 0 -23px;
                    display: inline-block;
                    height: 17px;
                    margin-right: 9px;
                    position: relative;
                    top: 2px;
                    width: 24px;
                }
            }
        }
    }
}

// New arrivals
#new_arrivals {
    .title {
        font-size: 36px;
        font-weight: 900;
        margin: 120px 0 28px;
        text-align: center;

        .first {
            color: $mainOrange;
        }

        .second {
            color: #34404b;
        }
    }

    .sub_title {
        color: #495662;
        font-size: 16px;
        margin-bottom: 82px;
        text-align: center;
    }

    .products-box {
        .product-box {
            position: relative;
            
            &:hover{
                .product {
                    opacity: 0;
                    visibility: hidden;
                }

                .product_details {
                    opacity: 1!important;
                    visibility: visible!important;
                }
            }
        }
        
        .product {
            background: #fff;
            height: 365px;
            margin-bottom: 30px;
            transition: all .9s;

            .image {
                height: 270px;
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    height: 90%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .product_title {
                color: #34404b;
                height: 50px;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }

            .price {
                color: $mainOrange;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
        }

        .product_details {
            background: #fff;
            height: 365px;
            text-align: center;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: all .9s;
            visibility: hidden;
            width: 100%;

            .image {
                height: 145px;
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    height: 90%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .product_title {
                color: $mainOrange;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .sizes {
                color: #34404b;
                font-size: 14px;
                margin-bottom: 20px;
            }

            .colors {
                .color {
                    border-radius: 50%;
                    cursor: pointer;
                    display: inline-block;
                    height: 13px;
                    width: 13px;

                    &.red {
                        background: #e12e3f;
                    }

                    &.purple {
                        background: #34404b;
                    }

                    &.blue {
                        background: #3ab3ff;
                    }

                    &.green {
                        background: #2fd967;
                    }
                }
            }

            .splitter {
                background: #f2f4f7;
                height: 1px;
                margin: 30px auto;
                width: 70%;
            }

            .options {
                .option {
                    background: url('../images/product_options_icons_sprite.png');
                    cursor: pointer;
                    display: inline-block;
                    height: 21px;
                    margin: 0 8px;
                    width: 22px;

                    &:hover {
                        background-position-y: -21px;
                    }

                    &.basket {
                        background-position-x: -22px;
                    }

                    &.heart {
                        background-position-x: -44px;
                    }
                }
            }
        }
    }

    .load_more {
        background: #fff;
        cursor: pointer;
        height: 60px;
        margin: 60px 0 20px;
        padding: 20px 0;
        text-align: center;
        
        .dot {
            background: $mainOrange;
            border-radius: 50%;
            display: inline-block;
            height: 8px;
            width: 8px;
        }
    }
}


// Ads
#ads {
    margin-top: 120px;

    .hot_deal {
        background: #fff;
        border: 1px solid #eaedef;
        height: 100px;
        padding: 8px 41px 8px 60px;

        .content {
            padding: 20px 0 0 61px;
            height: 100%;
            width: 360px;

            .title {
                font-size: 22px;
                font-weight: 900;
                color: #34404b;
                margin: 0 0 7px;
            }

            .description {
                color: #495662;
                font-size: 12px;
            }
        }
        
        .price {
            color: #ff5912;
            font-size: 32px;
            font-weight: 900;
            padding: 18px 0;

            &::before {
                background: url('../images/product_options_icons_sprite.png') -22px -21px;
                content: '';
                display: inline-block;
                height: 21px;
                margin-right: 4px;
                width: 22px;
            }

            &::after {
                content: '$';
                display: inline-block;
                font-size: 22px;
                margin-left: -7px;
            }
        }
    }

    .banner {
        background: #fff;
        border: 1px solid #eaedef;
        height: 100px;
        padding: 26px 0;
        text-align: center;

        .title {
            font-size: 16px;
            margin-bottom: 4px;

            .first {
                color: #34404b;
            }

            .second {
                color: $mainOrange;
            }
        }

        .dimensions {
            color: #34404b;
            opacity: .4;
        }
    }
}

// Best sales
#best_sales {
    margin-top: 100px;

    .title {
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 23px;
        text-align: center;

        .first {
            color: $mainOrange;
        }

        .second {
            color: #34404b;
        }
    }

    .sub_title {
        text-align: center;
        color: #495662;
        font-size: 16px;
        margin-bottom: 82px;
    }

    .products-box {
        .product {
            background: #fff;
            height: 160px;
            transition: all .9s;

            &:hover {
                box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.07);

                .content {
                    .ratings,
                    .price {
                        opacity: 0;
                        visibility: hidden;
                    }

                    .cart {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            
            .image {
                background: url('../images/product-1.png') no-repeat center;
                background-size: auto 68%;
                height: 100%;
                width: 150px;
            }

            .content {
                padding-top: 42px;

                .product_title {
                    color: #34404b;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 31px;
                }

                .ratings {
                    transition: all .5s;
                    
                    .star {
                        background: url('../images/ratings_stars_sprite.png');
                        display: inline-block;
                        height: 12px;
                        width: 13px;
                    }

                    &.ratings-3 {
                        .star:nth-child(4) {
                            background-position-y: -12px;
                        }
                    }

                    &.ratings-2 {                        
                        .star:nth-child(3) {
                            background-position-y: -12px;
                        }
                        
                        .star:nth-child(4) {
                            background-position-y: -12px;
                        }
                    }

                    &.ratings-1 {
                        .star:nth-child(2) {
                            background-position-y: -12px;
                        }
                        
                        .star:nth-child(3) {
                            background-position-y: -12px;
                        }
                        
                        .star:nth-child(4) {
                            background-position-y: -12px;
                        }
                    }

                    &.ratings-0 {
                        .star:nth-child(1) {
                            background-position-y: -12px;
                        }
                        .star:nth-child(2) {
                            background-position-y: -12px;
                        }
                        
                        .star:nth-child(3) {
                            background-position-y: -12px;
                        }
                        
                        .star:nth-child(4) {
                            background-position-y: -12px;
                        }
                    }
                }

                .price {
                    transition: all .9s;
                    color: $mainOrange;
                    font-size: 16px;
                    font-weight: bold;
                }

                .cart {
                    color: $mainOrange;
                    cursor: pointer;
                    visibility: hidden;
                    font-size: 16px;
                    opacity: 0;
                    position: relative;
                    text-align: center;
                    top: -28px;
                    transition: all .9s;
                    
                    &::before {
                        background: url('../images/product_options_icons_sprite.png') -22px -21px;
                        content: '';
                        display: inline-block;
                        height: 21px;
                        margin-right: 4px;
                        position: relative;
                        top: 3px;
                        width: 22px;
                    }
                }
            }
        }
    }
}