#featured {
  background: url("../images/featured_full_width.jpg");
  background-size: cover;
  height: 650px; }
  #featured .container {
    position: relative;
    height: 100%; }
  #featured .controller {
    position: absolute;
    height: 36px;
    background: #ff5912;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px; }
    #featured .controller::after, #featured .controller::before {
      content: '';
      display: block;
      width: 100%;
      height: 17px;
      background: #fff;
      position: absolute; }
    #featured .controller::after {
      top: -26px; }
    #featured .controller::before {
      bottom: -26px; }
  #featured .text_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px; }
    #featured .text_content .title {
      color: #ff5912;
      font-size: 52px;
      font-weight: 900; }
    #featured .text_content .text1 {
      color: #3c4751;
      font-size: 18px; }
    #featured .text_content .text2 {
      color: #495662;
      font-size: 16px;
      margin-bottom: 55px; }
    #featured .text_content .buy_info .price {
      color: #34404b;
      font-size: 18px;
      padding-right: 27px; }
    #featured .text_content .buy_info .order_now {
      color: #ff5912;
      font-size: 18px; }
      #featured .text_content .buy_info .order_now:hover {
        text-decoration: none; }
      #featured .text_content .buy_info .order_now::before {
        content: '';
        background: url("../images/icons_sprite.png") 0 -23px;
        display: inline-block;
        height: 17px;
        margin-right: 9px;
        position: relative;
        top: 2px;
        width: 24px; }

#new_arrivals .title {
  font-size: 36px;
  font-weight: 900;
  margin: 120px 0 28px;
  text-align: center; }
  #new_arrivals .title .first {
    color: #ff5912; }
  #new_arrivals .title .second {
    color: #34404b; }
#new_arrivals .sub_title {
  color: #495662;
  font-size: 16px;
  margin-bottom: 82px;
  text-align: center; }
#new_arrivals .products-box .product-box {
  position: relative; }
  #new_arrivals .products-box .product-box:hover .product {
    opacity: 0;
    visibility: hidden; }
  #new_arrivals .products-box .product-box:hover .product_details {
    opacity: 1 !important;
    visibility: visible !important; }
#new_arrivals .products-box .product {
  background: #fff;
  height: 365px;
  margin-bottom: 30px;
  transition: all .9s; }
  #new_arrivals .products-box .product .image {
    height: 270px;
    position: relative; }
    #new_arrivals .products-box .product .image img {
      position: absolute;
      top: 50%;
      height: 90%;
      left: 50%;
      transform: translate(-50%, -50%); }
  #new_arrivals .products-box .product .product_title {
    color: #34404b;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
  #new_arrivals .products-box .product .price {
    color: #ff5912;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
#new_arrivals .products-box .product_details {
  background: #fff;
  height: 365px;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all .9s;
  visibility: hidden;
  width: 100%; }
  #new_arrivals .products-box .product_details .image {
    height: 145px;
    position: relative; }
    #new_arrivals .products-box .product_details .image img {
      position: absolute;
      top: 50%;
      height: 90%;
      left: 50%;
      transform: translate(-50%, -50%); }
  #new_arrivals .products-box .product_details .product_title {
    color: #ff5912;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; }
  #new_arrivals .products-box .product_details .sizes {
    color: #34404b;
    font-size: 14px;
    margin-bottom: 20px; }
  #new_arrivals .products-box .product_details .colors .color {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 13px;
    width: 13px; }
    #new_arrivals .products-box .product_details .colors .color.red {
      background: #e12e3f; }
    #new_arrivals .products-box .product_details .colors .color.purple {
      background: #34404b; }
    #new_arrivals .products-box .product_details .colors .color.blue {
      background: #3ab3ff; }
    #new_arrivals .products-box .product_details .colors .color.green {
      background: #2fd967; }
  #new_arrivals .products-box .product_details .splitter {
    background: #f2f4f7;
    height: 1px;
    margin: 30px auto;
    width: 70%; }
  #new_arrivals .products-box .product_details .options .option {
    background: url("../images/product_options_icons_sprite.png");
    cursor: pointer;
    display: inline-block;
    height: 21px;
    margin: 0 8px;
    width: 22px; }
    #new_arrivals .products-box .product_details .options .option:hover {
      background-position-y: -21px; }
    #new_arrivals .products-box .product_details .options .option.basket {
      background-position-x: -22px; }
    #new_arrivals .products-box .product_details .options .option.heart {
      background-position-x: -44px; }
#new_arrivals .load_more {
  background: #fff;
  cursor: pointer;
  height: 60px;
  margin: 60px 0 20px;
  padding: 20px 0;
  text-align: center; }
  #new_arrivals .load_more .dot {
    background: #ff5912;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    width: 8px; }

#ads {
  margin-top: 120px; }
  #ads .hot_deal {
    background: #fff;
    border: 1px solid #eaedef;
    height: 100px;
    padding: 8px 41px 8px 60px; }
    #ads .hot_deal .content {
      padding: 20px 0 0 61px;
      height: 100%;
      width: 360px; }
      #ads .hot_deal .content .title {
        font-size: 22px;
        font-weight: 900;
        color: #34404b;
        margin: 0 0 7px; }
      #ads .hot_deal .content .description {
        color: #495662;
        font-size: 12px; }
    #ads .hot_deal .price {
      color: #ff5912;
      font-size: 32px;
      font-weight: 900;
      padding: 18px 0; }
      #ads .hot_deal .price::before {
        background: url("../images/product_options_icons_sprite.png") -22px -21px;
        content: '';
        display: inline-block;
        height: 21px;
        margin-right: 4px;
        width: 22px; }
      #ads .hot_deal .price::after {
        content: '$';
        display: inline-block;
        font-size: 22px;
        margin-left: -7px; }
  #ads .banner {
    background: #fff;
    border: 1px solid #eaedef;
    height: 100px;
    padding: 26px 0;
    text-align: center; }
    #ads .banner .title {
      font-size: 16px;
      margin-bottom: 4px; }
      #ads .banner .title .first {
        color: #34404b; }
      #ads .banner .title .second {
        color: #ff5912; }
    #ads .banner .dimensions {
      color: #34404b;
      opacity: .4; }

#best_sales {
  margin-top: 100px; }
  #best_sales .title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 23px;
    text-align: center; }
    #best_sales .title .first {
      color: #ff5912; }
    #best_sales .title .second {
      color: #34404b; }
  #best_sales .sub_title {
    text-align: center;
    color: #495662;
    font-size: 16px;
    margin-bottom: 82px; }
  #best_sales .products-box .product {
    background: #fff;
    height: 160px;
    transition: all .9s; }
    #best_sales .products-box .product:hover {
      box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.07); }
      #best_sales .products-box .product:hover .content .ratings,
      #best_sales .products-box .product:hover .content .price {
        opacity: 0;
        visibility: hidden; }
      #best_sales .products-box .product:hover .content .cart {
        opacity: 1;
        visibility: visible; }
    #best_sales .products-box .product .image {
      background: url("../images/product-1.png") no-repeat center;
      background-size: auto 68%;
      height: 100%;
      width: 150px; }
    #best_sales .products-box .product .content {
      padding-top: 42px; }
      #best_sales .products-box .product .content .product_title {
        color: #34404b;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 31px; }
      #best_sales .products-box .product .content .ratings {
        transition: all .5s; }
        #best_sales .products-box .product .content .ratings .star {
          background: url("../images/ratings_stars_sprite.png");
          display: inline-block;
          height: 12px;
          width: 13px; }
        #best_sales .products-box .product .content .ratings.ratings-3 .star:nth-child(4) {
          background-position-y: -12px; }
        #best_sales .products-box .product .content .ratings.ratings-2 .star:nth-child(3) {
          background-position-y: -12px; }
        #best_sales .products-box .product .content .ratings.ratings-2 .star:nth-child(4) {
          background-position-y: -12px; }
        #best_sales .products-box .product .content .ratings.ratings-1 .star:nth-child(2) {
          background-position-y: -12px; }
        #best_sales .products-box .product .content .ratings.ratings-1 .star:nth-child(3) {
          background-position-y: -12px; }
        #best_sales .products-box .product .content .ratings.ratings-1 .star:nth-child(4) {
          background-position-y: -12px; }
        #best_sales .products-box .product .content .ratings.ratings-0 .star:nth-child(1) {
          background-position-y: -12px; }
        #best_sales .products-box .product .content .ratings.ratings-0 .star:nth-child(2) {
          background-position-y: -12px; }
        #best_sales .products-box .product .content .ratings.ratings-0 .star:nth-child(3) {
          background-position-y: -12px; }
        #best_sales .products-box .product .content .ratings.ratings-0 .star:nth-child(4) {
          background-position-y: -12px; }
      #best_sales .products-box .product .content .price {
        transition: all .9s;
        color: #ff5912;
        font-size: 16px;
        font-weight: bold; }
      #best_sales .products-box .product .content .cart {
        color: #ff5912;
        cursor: pointer;
        visibility: hidden;
        font-size: 16px;
        opacity: 0;
        position: relative;
        text-align: center;
        top: -28px;
        transition: all .9s; }
        #best_sales .products-box .product .content .cart::before {
          background: url("../images/product_options_icons_sprite.png") -22px -21px;
          content: '';
          display: inline-block;
          height: 21px;
          margin-right: 4px;
          position: relative;
          top: 3px;
          width: 22px; }

/*# sourceMappingURL=home.css.map */
