@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-RegularItalic.otf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-SemiBd.otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-SemiBdIt.otf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-Bold.otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-Black.otf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-BlackItalic.otf");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-Light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Harmonia sans;
  src: url("../fonts/HarmoniaSansProCyr-LightItalic.otf");
  font-weight: 300;
  font-style: italic; }
body {
  background-color: #f4f6f8 !important;
  font-family: 'Harmonia sans' !important; }

#navigation .small_nav {
  background: #fff;
  border-bottom: 1px solid #edeff1;
  padding: 20px 0; }
  #navigation .small_nav .mail,
  #navigation .small_nav .phone {
    color: #34404b;
    font-size: 12px; }
    #navigation .small_nav .mail::before,
    #navigation .small_nav .phone::before {
      background: url("../images/icons_sprite.png");
      content: '';
      display: inline-block;
      margin-right: 8px;
      position: relative;
      top: 1px; }
  #navigation .small_nav .mail {
    margin-right: 20px; }
    #navigation .small_nav .mail::before {
      height: 11px;
      width: 18px; }
  #navigation .small_nav .phone::before {
    background-position: 0 -11px;
    height: 13px;
    top: 3px;
    width: 13px; }
  #navigation .small_nav .social_icon {
    background: url("../images/social_icons.png");
    display: inline-block;
    height: 11px;
    margin-left: 14px;
    width: 13px; }
    #navigation .small_nav .social_icon.twitter {
      background-position: -13px 0; }
    #navigation .small_nav .social_icon.gplus {
      background-position: -26px 0; }
    #navigation .small_nav .social_icon.instagram {
      background-position: -39px 0; }
#navigation .big_nav {
  background: #fff; }
  #navigation .big_nav .navbar {
    background: #fff;
    border: 0;
    border-bottom: 1px solid #edeff1;
    height: 120px;
    margin-bottom: 0;
    padding: 42px 0; }
  @media (min-width: 768px) {
    #navigation .big_nav .navbar-nav > li > a {
      font-size: 18px;
      padding-top: 8px; }
    #navigation .big_nav .navbar > .container .navbar-brand, #navigation .big_nav .navbar > .container-fluid .navbar-brand {
      padding: 0;
      margin-left: 0;
      margin-right: 40px; } }
#navigation .navigation_icon {
  background: url("../images/navigation_icons_sprite.png") no-repeat;
  display: inline-block;
  padding: 0;
  margin: 0 14px; }
  #navigation .navigation_icon.search {
    height: 20px;
    width: 18px; }
  #navigation .navigation_icon.profile {
    background-position-x: -18px;
    height: 21px;
    width: 20px; }
  #navigation .navigation_icon.cart {
    background-position-x: -38px;
    height: 20px;
    margin-right: 0;
    position: relative;
    width: 24px; }
    #navigation .navigation_icon.cart::before {
      background: #34404b;
      border-radius: 50%;
      content: attr(count);
      color: #fff;
      display: block;
      font-size: 10px;
      height: 18px;
      left: 3px;
      position: absolute;
      text-align: center;
      top: -18px;
      width: 18px; }
#navigation .navbar-default .navbar-nav > .active > a, #navigation .navbar-default .navbar-nav > .active > a:hover, #navigation .navbar-default .navbar-nav > .active > a:focus {
  background-color: initial;
  color: #ff5912; }
#navigation .navbar-collapse {
  background: #fff; }

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

#news_letter {
  background: #fff;
  height: 123px;
  margin-top: 120px;
  padding: 0 55px; }
  #news_letter .content {
    padding: 49px 0; }
    #news_letter .content .title {
      color: #ff5912;
      font-size: 18px;
      font-weight: bold; }
    #news_letter .content .description {
      color: #34404b;
      font-size: 14px;
      margin-left: 20px;
      position: relative;
      top: -2px; }
  #news_letter .join_form {
    padding: 50px 0 0 252px; }
    #news_letter .join_form .mail {
      background: url("../images/icons_sprite.png");
      display: inline-block;
      width: 18px;
      height: 11px;
      position: relative;
      top: 2px;
      margin-right: 5px; }
    #news_letter .join_form .mail_input {
      border: 0;
      margin-left: 7px; }
      #news_letter .join_form .mail_input:focus {
        outline: none;
        box-shadow: none; }
  #news_letter .join_button {
    background: #ff5912;
    color: #fff;
    display: block;
    height: 50px;
    margin-top: 35px;
    padding: 15px 0;
    text-align: center;
    width: 100px; }
    #news_letter .join_button:hover, #news_letter .join_button:active, #news_letter .join_button:focus {
      text-decoration: none; }

#footer {
  background: #fff;
  margin-top: 122px;
  padding: 88px 0; }
  #footer .logo_copyright {
    color: #28313b;
    width: 395px; }
    #footer .logo_copyright .text {
      margin-top: 16px; }
  #footer .navigation {
    color: #28313b;
    width: 595px;
    list-style-type: disc; }
    #footer .navigation li {
      float: left;
      width: 33.33%; }
      #footer .navigation li a {
        color: #28313b; }
        #footer .navigation li a :hover,
        #footer .navigation li a :focus,
        #footer .navigation li a :active {
          text-decoration: none; }
      #footer .navigation li.active {
        color: #ff5912; }
        #footer .navigation li.active a {
          color: #ff5912; }
  #footer .payment {
    margin-top: 11px; }
    #footer .payment .title {
      color: #ff5912;
      font-size: 16px;
      font-weight: bold; }
    #footer .payment .methods {
      margin-top: 17px; }

.button-main {
  background: #ff5912;
  border: 0;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 49px;
  padding: 0 24px; }

a.button-main {
  display: inline-block;
  padding: 12px 24px; }
  a.button-main:hover {
    color: #fff;
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
