@import '../styles/fonts';
@import '../styles/colors';

body {
    background-color: #f4f6f8 !important;
    font-family: 'Harmonia sans' !important;
}

// Navigation
#navigation {
    .small_nav {
        background: #fff;
        border-bottom: 1px solid #edeff1;
        padding: 20px 0;

        .mail,
        .phone {
            color: #34404b;
            font-size: 12px;

            &::before {
                background: url('../images/icons_sprite.png');
                content: '';
                display: inline-block;
                margin-right: 8px;
                position: relative;
                top: 1px;
            }
        }

        .mail {
            margin-right: 20px;

            &::before {
                height: 11px;
                width: 18px;
            }
        }

        .phone {
            &::before {
                background-position: 0 -11px;
                height: 13px;
                top: 3px;
                width: 13px;
            }
        }

        .social_icon {
            background: url('../images/social_icons.png');
            display: inline-block;
            height: 11px;
            margin-left: 14px;
            width: 13px;

            &.twitter {
                background-position: -13px 0;
            }

            &.gplus {
                background-position: -26px 0;
            }

            &.instagram {
                background-position: -39px 0;
            }
        }
    }

    .big_nav {
        background: #fff;
        
        .navbar {
            background: #fff;
            border: 0;
            border-bottom: 1px solid #edeff1;
            height: 120px;
            margin-bottom: 0;
            padding: 42px 0;
        }

        @media (min-width: 768px) {
            .navbar-nav > li > a {
                font-size: 18px;
                padding-top: 8px;
            }

            .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
                padding: 0;
                margin-left: 0;
                margin-right: 40px;
            }
        }
    }

    // Navigation icons
    .navigation_icon {
        background: url('../images/navigation_icons_sprite.png') no-repeat;
        display: inline-block;
        padding: 0;
        margin: 0 14px;

        &.search {
            height: 20px;
            width: 18px;
        }

        &.profile {
            background-position-x: -18px;
            height: 21px;
            width: 20px;
        }

        &.cart {
            background-position-x: -38px;
            height: 20px;
            margin-right: 0;
            position: relative;
            width: 24px;

            &::before {
                background: #34404b;
                border-radius: 50%;
                content:  attr(count) ;
                color: #fff;
                display: block;
                font-size: 10px;
                height: 18px;
                left: 3px;
                position: absolute;
                text-align: center;
                top: -18px;
                width: 18px;
            }
        }
    }

    // Bootstrap overrides
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background-color: initial;
        color: $mainOrange;
    }

    .navbar-collapse {
        background: #fff;
    }
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}



// Newsletter
#news_letter {
    background: #fff;
    height: 123px;
    margin-top: 120px;
    padding: 0 55px;

    .content {
        padding: 49px 0;

        .title {
            color: $mainOrange;
            font-size: 18px;
            font-weight: bold;
        }

        .description {
            color: #34404b;
            font-size: 14px;
            margin-left: 20px;
            position: relative;
            top: -2px;
        }
    }

    .join_form {
        padding: 50px 0 0 252px;

        .mail {
            background: url('../images/icons_sprite.png');
            display: inline-block;
            width: 18px;
            height: 11px;
            position: relative;
            top: 2px;
            margin-right: 5px;
        }

        .mail_input {
            border: 0;
            margin-left: 7px;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    .join_button {
        background: $mainOrange;
        color: #fff;
        display: block;
        height: 50px;
        margin-top: 35px;
        padding: 15px 0;
        text-align: center;
        width: 100px;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none
        }
    }
}

// Footer
#footer {
    background: #fff;
    margin-top: 122px;
    padding: 88px 0;

    .logo_copyright {
        color: #28313b;
        width: 395px;

        .text {
            margin-top: 16px;
        }
    }

    .navigation {
        color: #28313b;
        width: 595px;
        list-style-type: disc;

        li {
            float: left;
            width: 33.33%;

            a {
                color: #28313b;

                :hover,
                :focus,
                :active {
                    text-decoration: none;
                }
            }

            &.active {
                color: $mainOrange;

                a {
                    color: $mainOrange;
                }
            }
        }
    }

    .payment {
        margin-top: 11px;

        .title {
            color: $mainOrange;
            font-size: 16px;
            font-weight: bold;
        }

        .methods {
            margin-top: 17px;
        }
    }
}

// Globally used
.button-main {
    background: $mainOrange;
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 49px;
    padding: 0 24px;

    
}

a.button-main {
    display: inline-block;
    padding: 12px 24px;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}