#product-details {
  background: #fff;
  padding: 100px 0 120px; }
  #product-details .big_image {
    height: 278px;
    margin-bottom: 65px;
    padding: 7px 0;
    text-align: center; }
    #product-details .big_image img {
      height: 100%; }
  #product-details .small_images {
    text-align: center; }
    #product-details .small_images .image {
      background: #f4f6f8;
      cursor: pointer;
      display: inline-block;
      height: 69px;
      text-align: center;
      margin: 0 8px;
      position: relative;
      width: 94px; }
      #product-details .small_images .image:hover:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 89, 18, 0.65);
        z-index: 1; }
      #product-details .small_images .image img {
        bottom: 0;
        height: 81%;
        left: 0;
        margin: auto;
        top: 0;
        position: absolute;
        right: 0; }
  #product-details .details .title {
    color: #ff5912;
    font-size: 52px;
    font-weight: 900;
    margin: 0 0 13px; }
  #product-details .details .sub_title {
    color: #3c4751;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px; }
  #product-details .details .description {
    color: #495662;
    border-bottom: 1px solid #edeff1;
    font-size: 16px;
    padding-bottom: 40px; }
  #product-details .details .sizes {
    border-bottom: 1px solid #edeff1;
    padding: 34px 0; }
    #product-details .details .sizes .choose_size .size_title {
      color: #34404b;
      font-size: 18px;
      padding-right: 16px; }
    #product-details .details .sizes .choose_size .option {
      color: #34404b;
      cursor: pointer; }
      #product-details .details .sizes .choose_size .option:hover, #product-details .details .sizes .choose_size .option:active, #product-details .details .sizes .choose_size .option:focus {
        color: #ff5912;
        font-size: 18px; }
    #product-details .details .sizes .choose_quantity .quantity_title {
      color: #34404b;
      font-size: 18px;
      padding-right: 16px; }
    #product-details .details .sizes .choose_quantity .options {
      color: #34404b;
      display: inline-block;
      font-size: 18px; }
      #product-details .details .sizes .choose_quantity .options .count {
        color: #ff5912;
        padding: 0 6px; }
      #product-details .details .sizes .choose_quantity .options .plus,
      #product-details .details .sizes .choose_quantity .options .minus {
        cursor: pointer; }
  #product-details .details .price {
    padding-top: 40px; }
    #product-details .details .price .price_value {
      color: #34404b;
      font-size: 20px;
      font-weight: 900; }
    #product-details .details .price .options {
      display: inline-block;
      margin-right: 14px; }
      #product-details .details .price .options .option {
        background: url("../images/product_options_icons_sprite.png");
        cursor: pointer;
        display: inline-block;
        height: 21px;
        margin: 0 8px;
        width: 22px; }
        #product-details .details .price .options .option:hover {
          background-position-y: -21px; }
        #product-details .details .price .options .option.basket {
          background-position-x: -22px; }
        #product-details .details .price .options .option.heart {
          background-position-x: -44px; }
    #product-details .details .price .order_now {
      position: relative;
      top: -5px; }

#related_products .title {
  font-size: 28px;
  font-weight: 900;
  margin: 120px 0 28px;
  text-align: center; }
  #related_products .title .first {
    color: #ff5912; }
  #related_products .title .second {
    color: #34404b; }
#related_products .sub_title {
  color: #495662;
  font-size: 16px;
  margin-bottom: 82px;
  text-align: center; }
#related_products .products-box .product {
  background: #fff;
  height: 365px;
  transition: all .9s; }
  #related_products .products-box .product .image {
    background: url("../images/product-1.png") no-repeat center;
    background-size: auto 87%;
    height: 270px; }
  #related_products .products-box .product .product_title {
    color: #34404b;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
  #related_products .products-box .product .price {
    color: #ff5912;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }
#related_products .load_more {
  background: #fff;
  height: 60px;
  margin-top: 80px;
  padding: 20px 0;
  text-align: center; }
  #related_products .load_more .dot {
    background: #ff5912;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    width: 8px; }

/*# sourceMappingURL=product-details.css.map */
