@import '../styles/colors';

#product-details {
    background: #fff;
    padding: 100px 0 120px;

    .big_image {
        height: 278px;
        margin-bottom: 65px;
        padding: 7px 0;
        text-align: center;

        img {
            height: 100%;
        }
    }

    .small_images {
        text-align: center;

        .image {
            background: #f4f6f8;
            cursor: pointer;
            display: inline-block;
            height: 69px;
            text-align: center;
            margin: 0 8px;
            position: relative;
            width: 94px;

            &:hover {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 89, 18, 0.65);
                    z-index: 1;
                }
            }

            img {
                bottom: 0;
                height: 81%;
                left: 0;
                margin: auto;
                top: 0;
                position: absolute;
                right: 0;
            }
        }
    }

    .details {
        .title {
            color: $mainOrange;
            font-size: 52px;
            font-weight: 900;
            margin: 0 0 13px;
        }

        .sub_title {
            color: #3c4751;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .description {
            color: #495662;
            border-bottom: 1px solid #edeff1;
            font-size: 16px;
            padding-bottom: 40px;
        }

        .sizes {
            border-bottom: 1px solid #edeff1;
            padding: 34px 0;

            .choose_size {
                .size_title {
                    color: #34404b;
                    font-size: 18px;
                    padding-right: 16px;
                }

                .option {
                    color: #34404b;
                    cursor: pointer;

                    &:hover,
                    &:active,
                    &:focus {
                        color: $mainOrange;
                        font-size: 18px;
                    }
                }
            }

            .choose_quantity {
                .quantity_title {
                    color: #34404b;
                    font-size: 18px;
                    padding-right: 16px;
                }

                .options {
                    color: #34404b;
                    display: inline-block;
                    font-size: 18px;

                    .count {
                        color: $mainOrange;
                        padding: 0 6px;
                    }

                    .plus,
                    .minus {
                        cursor: pointer;
                    }
                }
            }
        }

        .price {
            padding-top: 40px;

            .price_value {
                color: #34404b;
                font-size: 20px;
                font-weight: 900;
            }

            .options {
                display: inline-block;
                margin-right: 14px;

                .option {
                    background: url('../images/product_options_icons_sprite.png');
                    cursor: pointer;
                    display: inline-block;
                    height: 21px;
                    margin: 0 8px;
                    width: 22px;

                    &:hover {
                        background-position-y: -21px;
                    }

                    &.basket {
                        background-position-x: -22px;
                    }

                    &.heart {
                        background-position-x: -44px;
                    }
                }
            }

            .order_now {
                position: relative;
                top: -5px;
            }
        }
    }
}


// Related products
#related_products {
    .title {
        font-size: 28px;
        font-weight: 900;
        margin: 120px 0 28px;
        text-align: center;

        .first {
            color: $mainOrange;
        }

        .second {
            color: #34404b;
        }
    }

    .sub_title {
        color: #495662;
        font-size: 16px;
        margin-bottom: 82px;
        text-align: center;
    }

    .products-box {        
        .product {
            background: #fff;
            height: 365px;
            transition: all .9s;

            .image {
                background: url('../images/product-1.png') no-repeat center;
                background-size: auto 87%;
                height: 270px;
            }

            .product_title {
                color: #34404b;
                height: 50px;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }

            .price {
                color: $mainOrange;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
            }
        }
    }

    .load_more {
        background: #fff;
        height: 60px;
        margin-top: 80px;
        padding: 20px 0;
        text-align: center;
        
        .dot {
            background: $mainOrange;
            border-radius: 50%;
            display: inline-block;
            height: 8px;
            width: 8px;
        }
    }
}