@import '../styles/colors';

// Filters
#filters {
    margin-top: 120px;

    .filter-box {
        background: #fff;
        padding: 40px;
        

        &:nth-child(-n + 3) {
            margin-bottom: 29px;
        }

        .filter_title {
            color: $mainOrange;
            font-size: 18px;
            font-weight: 900;
            margin-bottom: 30px;
        }

        .options {
            .option {
                color: #34404b;
                cursor: pointer;
                display: block;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:hover,
                &:active,
                &:focus {
                    color: $mainOrange;
                    outline: none;
                    text-decoration: none;
                }
            }
        }

        .from_to-form {
            margin-top: 37px;

            .form-box {
                width: 50%;

                label {
                    color: #34404b;
                    font-size: 14px;
                    font-weight: 600;
                }

                .form_input {
                    background: #edf0f2;
                    border: none;
                    height: 25px;
                    margin-left: 10px;
                    width: 45px;
                }
            }
        }

        .checkboxes {
            .checkbox {
                background: #fff;
                cursor: pointer;
                margin-bottom: 25px;
                position: relative;
                z-index: 1;

                &:last-child {
                    margin: 0;
                }

                input {
                    margin-left: 0;
                }

                input:checked {
                    + .overlay {
                        .box {
                            border: 4px solid $mainOrange;
                        }

                        .title {
                            color: $mainOrange;
                        }
                    }
                } 
                
                .overlay {
                    background: #fff;
                    position: relative;
                    z-index: 1;

                    .box {
                        background: #edf0f2;
                        display: inline-block;
                        height: 13px;
                        transition: border .2s;
                        width: 13px;
                    }

                    .title {
                        left: 8px;
                        position: relative;
                        top: -1px;
                        transition: border .2s;
                    }
                }
            }
        }

        // jQueryUI overrides for range slider
        .ui-state-default, 
        .ui-widget-content .ui-state-default, 
        .ui-widget-header .ui-state-default, 
        .ui-button {
            background: #34404b;
            border-radius: 50%;
            height: 11px;
            width: 11px;
        }

        .ui-widget-header {
            background: #34404b;
        }
        
        .ui-slider-horizontal .ui-slider-handle {

        }

        .ui-slider-horizontal {
            background: #edf0f2;
            height: 3px;
        }

    }
}

 #products-box {
    margin-top: 120px;

    .product-box {
        margin-bottom: 30px;
        position: relative;
        
        &:hover{
            .product {
                opacity: 0;
                visibility: hidden;
            }

            .product_details {
                opacity: 1!important;
                visibility: visible!important;
            }
        }
    }
    
    .product {
        background: #fff;
        height: 365px;
        transition: all .9s;

        .image {
            height: 270px;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                height: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .product_title {
            color: #34404b;
            height: 50px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }

        .price {
            color: $mainOrange;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
    }

    .product_details {
        background: #fff;
        height: 365px;
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: all .9s;
        visibility: hidden;
        width: 100%;

        a:hover {
            text-decoration: none;
        }

        .image {
            height: 145px;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                height: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .product_title {
            color: $mainOrange;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .sizes {
            color: #34404b;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .colors {
            .color {
                border-radius: 50%;
                cursor: pointer;
                display: inline-block;
                height: 13px;
                width: 13px;

                &.red {
                    background: #e12e3f;
                }

                &.purple {
                    background: #34404b;
                }

                &.blue {
                    background: #3ab3ff;
                }

                &.green {
                    background: #2fd967;
                }
            }
        }

        .splitter {
            background: #f2f4f7;
            height: 1px;
            margin: 30px auto;
            width: 70%;
        }

        .options {
            .option {
                background: url('../images/product_options_icons_sprite.png');
                cursor: pointer;
                display: inline-block;
                height: 21px;
                margin: 0 8px;
                width: 22px;

                &:hover {
                    background-position-y: -21px;
                }

                &.basket {
                    background-position-x: -22px;
                }

                &.heart {
                    background-position-x: -44px;
                }
            }
        }
    }
}

.load_more {
    background: #fff;
    clear: both;
    cursor: pointer;
    height: 60px;
    margin: 50px 15px 20px;
    padding: 20px 0;
    text-align: center;
    
    .dot {
        background: $mainOrange;
        border-radius: 50%;
        display: inline-block;
        height: 8px;
        width: 8px;
    }
}