#filters {
  margin-top: 120px; }
  #filters .filter-box {
    background: #fff;
    padding: 40px; }
    #filters .filter-box:nth-child(-n + 3) {
      margin-bottom: 29px; }
    #filters .filter-box .filter_title {
      color: #ff5912;
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 30px; }
    #filters .filter-box .options .option {
      color: #34404b;
      cursor: pointer;
      display: block;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 25px; }
      #filters .filter-box .options .option:last-child {
        margin-bottom: 0; }
      #filters .filter-box .options .option:hover, #filters .filter-box .options .option:active, #filters .filter-box .options .option:focus {
        color: #ff5912;
        outline: none;
        text-decoration: none; }
    #filters .filter-box .from_to-form {
      margin-top: 37px; }
      #filters .filter-box .from_to-form .form-box {
        width: 50%; }
        #filters .filter-box .from_to-form .form-box label {
          color: #34404b;
          font-size: 14px;
          font-weight: 600; }
        #filters .filter-box .from_to-form .form-box .form_input {
          background: #edf0f2;
          border: none;
          height: 25px;
          margin-left: 10px;
          width: 45px; }
    #filters .filter-box .checkboxes .checkbox {
      background: #fff;
      cursor: pointer;
      margin-bottom: 25px;
      position: relative;
      z-index: 1; }
      #filters .filter-box .checkboxes .checkbox:last-child {
        margin: 0; }
      #filters .filter-box .checkboxes .checkbox input {
        margin-left: 0; }
      #filters .filter-box .checkboxes .checkbox input:checked + .overlay .box {
        border: 4px solid #ff5912; }
      #filters .filter-box .checkboxes .checkbox input:checked + .overlay .title {
        color: #ff5912; }
      #filters .filter-box .checkboxes .checkbox .overlay {
        background: #fff;
        position: relative;
        z-index: 1; }
        #filters .filter-box .checkboxes .checkbox .overlay .box {
          background: #edf0f2;
          display: inline-block;
          height: 13px;
          transition: border .2s;
          width: 13px; }
        #filters .filter-box .checkboxes .checkbox .overlay .title {
          left: 8px;
          position: relative;
          top: -1px;
          transition: border .2s; }
    #filters .filter-box .ui-state-default,
    #filters .filter-box .ui-widget-content .ui-state-default,
    #filters .filter-box .ui-widget-header .ui-state-default,
    #filters .filter-box .ui-button {
      background: #34404b;
      border-radius: 50%;
      height: 11px;
      width: 11px; }
    #filters .filter-box .ui-widget-header {
      background: #34404b; }
    #filters .filter-box .ui-slider-horizontal {
      background: #edf0f2;
      height: 3px; }

#products-box {
  margin-top: 120px; }
  #products-box .product-box {
    margin-bottom: 30px;
    position: relative; }
    #products-box .product-box:hover .product {
      opacity: 0;
      visibility: hidden; }
    #products-box .product-box:hover .product_details {
      opacity: 1 !important;
      visibility: visible !important; }
  #products-box .product {
    background: #fff;
    height: 365px;
    transition: all .9s; }
    #products-box .product .image {
      height: 270px;
      position: relative; }
      #products-box .product .image img {
        position: absolute;
        top: 50%;
        height: 90%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #products-box .product .product_title {
      color: #34404b;
      height: 50px;
      font-size: 18px;
      font-weight: bold;
      text-align: center; }
    #products-box .product .price {
      color: #ff5912;
      font-size: 18px;
      font-weight: bold;
      text-align: center; }
  #products-box .product_details {
    background: #fff;
    height: 365px;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .9s;
    visibility: hidden;
    width: 100%; }
    #products-box .product_details a:hover {
      text-decoration: none; }
    #products-box .product_details .image {
      height: 145px;
      position: relative; }
      #products-box .product_details .image img {
        position: absolute;
        top: 50%;
        height: 90%;
        left: 50%;
        transform: translate(-50%, -50%); }
    #products-box .product_details .product_title {
      color: #ff5912;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px; }
    #products-box .product_details .sizes {
      color: #34404b;
      font-size: 14px;
      margin-bottom: 20px; }
    #products-box .product_details .colors .color {
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      height: 13px;
      width: 13px; }
      #products-box .product_details .colors .color.red {
        background: #e12e3f; }
      #products-box .product_details .colors .color.purple {
        background: #34404b; }
      #products-box .product_details .colors .color.blue {
        background: #3ab3ff; }
      #products-box .product_details .colors .color.green {
        background: #2fd967; }
    #products-box .product_details .splitter {
      background: #f2f4f7;
      height: 1px;
      margin: 30px auto;
      width: 70%; }
    #products-box .product_details .options .option {
      background: url("../images/product_options_icons_sprite.png");
      cursor: pointer;
      display: inline-block;
      height: 21px;
      margin: 0 8px;
      width: 22px; }
      #products-box .product_details .options .option:hover {
        background-position-y: -21px; }
      #products-box .product_details .options .option.basket {
        background-position-x: -22px; }
      #products-box .product_details .options .option.heart {
        background-position-x: -44px; }

.load_more {
  background: #fff;
  clear: both;
  cursor: pointer;
  height: 60px;
  margin: 50px 15px 20px;
  padding: 20px 0;
  text-align: center; }
  .load_more .dot {
    background: #ff5912;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    width: 8px; }

/*# sourceMappingURL=products.css.map */
